body {
    margin: 0;
    background-color: #ebe9e9;
    font-family: 'Rajdhani', sans-serif;
    /*font-family: 'Noto Sans', sans-serif;*/
}

/*NAGŁÓWEK STRONY WRAZ Z LOGO*/
header {
    text-align: center;
    background-color: #ffffff;
    font-size: 35px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    /*font-family: 'Charmonman', cursive;*/
    font-family: 'Great Vibes', cursive;

}

/*GŁÓWNA NAWIGACJA*/
.mainNav {
    background-color: #ffffff;
    height: 70px;
    -webkit-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
}

.mainNav>ul {
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    margin: 0;
    text-align: center;
}

.mainNav li {
    display: inline-block;
    padding: 10px;
    font-size: 26px;
    box-sizing: border-box;
    height: 56px;
    border-bottom: solid 0 #000000;
    transition: border-bottom 0.08s ease-in-out;
}

.mainNav li:hover {
    box-sizing: border-box;
    border-bottom: solid 2px #000000;
    cursor: pointer;
}

/*PRZESTRZEN NA ARTYKULY*/
main {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    height: 100vh;
}

/*ARTYKUŁ STRONA GŁÓWNA*/
article {
    font-size: 18px;
    background-color: #ffffff;
    min-height: 200px;
    border-radius: 5px;
    margin: 5vh 0;
    padding: 38px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

/*NAGŁÓWEK ARTYKUŁU*/
.artHead {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #eeeeee;

}

.artTitle {
    cursor: pointer;
    margin: 0;
    font-size: 2em;
}

.artDate {
    font-size: 1.5em;
    color: #dad8d8;
    cursor: pointer;
}


/*CZESC ZAWARTOSCI ARTYKULU*/
.artCont {
    font-size: 1.35em;
    text-align: justify;
}

/*MINIATURA ARTYKUŁU*/
.artCont>img {
    width: 120px;
    height: 120px;
    padding-right: 10px;
    padding-top: 4px;
    float: left;
}

/*STOPKA ARTYKULU*/
.artFooter {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 2px #eeeeee;
}

.artCat,
.artReadOn {
    font-size: 1em;
    padding: 3px 15px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.artCat {
    background-color: #ffffff;
    border: solid 1px #000000;
}

.artCat:hover {
    background-color: #000000;
    color: #ffffff;
}

.artReadOn {
    background-color: #ffffff;
    color: #5a034e;
    border: solid 1px #5a034e;
}

.artReadOn:hover{
    background-color: #5a034e;
    color: #ffffff;
}

p {
    margin: 0;
}

/*DLA MOBILNYCH*/
@media (max-width : 840px) {
    header {
        position: relative;
    }

    .mainNav {
        display: none;
    }

    article {
        font-size: 15px;
    }
}