html{
    height: 100%;
}

body {
    margin: 0;
    background-color: #ebe9e9;
    font-family: 'Rajdhani', sans-serif;
    min-height: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/*NAGŁÓWEK STRONY WRAZ Z LOGO*/
header {
    text-align: center;
    background-color: #ffffff;
    font-size: 50px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    color: #000000;
    transition: color 1s ease;
    cursor: pointer;
}

header:hover {
    color: #5a034e;
}


/*GŁÓWNA NAWIGACJA*/
.mainNav {
    background-color: #ffffff;
    min-height: 70px;
    -webkit-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
}

.mainNav>ul {
    list-style: none;
    padding: 0;
    background-color: #ffffff;
    margin: 0;
    text-align: center;
}

.mainNav li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    font-size: 26px;
    box-sizing: border-box;
    height: 56px;
    border-bottom: solid 0 #000000;
    transition: border-bottom 0.08s ease-in-out;
}

.mainNav li a{
    padding: inherit;
}

.mainNav li:hover {
    border-bottom: solid 2px #5a034e;
    cursor: pointer;
}

/*PRZESTRZEN NA ARTYKULY*/
main {
    margin: 0 auto;
    padding: 50px 0;
    padding-bottom: 83px;
    max-width: 1200px;
    min-height: 100%;
    box-sizing: border-box;
}

/*ARTYKUŁ STRONA GŁÓWNA*/
article {
    font-size: 18px;
    background-color: #ffffff;
    min-height: 200px;
    border-radius: 5px;
    margin: 5vh 0;
    padding: 38px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
}

article:first-child{
    margin: 0;
}

/*NAGŁÓWEK ARTYKUŁU*/
.artHead {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #eeeeee;

}

.artTitle {
    cursor: pointer;
    margin: 0;
    font-size: 2em;
}

.artTitle:hover {
    color: #5a034e;
}

.artDate {
    font-size: 1.5em;
    color: #dad8d8;
    cursor: pointer;
}


/*CZESC ZAWARTOSCI ARTYKULU*/
.artCont {
    font-size: 1.35em;
    text-align: justify;
}

/*MINIATURA ARTYKUŁU*/
.artCont>img {
    width: 120px;
    height: 120px;
    padding-right: 10px;
    padding-top: 4px;
    float: left;
}

/*STOPKA ARTYKULU*/
.artFooter {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 2px #eeeeee;
}

.artCat,
.artReadOn {
    font-size: 1em;
    padding: 3px 15px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
    margin-bottom: 10px;
    text-align: center;
}

.artCat {
    background-color: #ffffff;
    border: solid 1px #000000;
}

.artCat:hover {
    background-color: #000000;
    color: #ffffff;
}

.artReadOn {
    float: right;
    background-color: #ffffff;
    color: #5a034e;
    border: solid 1px #5a034e;
}

.artReadOn:hover {
    background-color: #5a034e;
    color: #ffffff;
}

p {
    margin: 0;
}

.clear {
    clear: both;
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    margin-top: 20px;
    margin-right: 15px;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 2px solid #000000;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
    right: 0;
    position: absolute;
    display: none;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #000000;
    transform: translateY(10px);
}

.hamburger::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
}

.hamburgerCurrent {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.hamburgerCurrent::after {
    transform: rotate(-90deg) translateX(-10px);

}

/*STOPKA*/

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.5em;
    padding: 10px 0;
    width: 100%;
    background-color: #5a034e;
    color: #ffffff;
    }



/*DLA MOBILNYCH*/
@media (max-width : 840px) {
    header {
        width: 100%;
        position: fixed;
        z-index: 3;
    }

    .mainNav {
        position: fixed;
        width: 100%;
        visibility: hidden;
        top: 74px;
    }

    .mainNav ul {
        overflow: auto;
    }


    .mainNav li {
        display: block;
    }


    .hamburger {
        display: inline;
    }

    main{
        padding: 80px 0;
    }

}

@media (max-width : 450px) {
    .artReadOn {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        float: inherit;
    }

    .mainLogo {
        float: left;
        margin-left: 25px;
    }

    footer{
        font-size: 1em;
    }

    article {
        font-size: 15px;
    }
}

/*ANIMACJE*/
.slideIn {
    animation: slideIn .5s forwards;
}

.slideOut {
    animation: slideOut .5s forwards;
}

@keyframes slideIn {
    from {
        top: -350px;
    }

    to {
        top: 74px;
    }
}

@keyframes slideOut {
    from {
        top: 74px;
    }

    to {
        top: -350px;
    }
}

/*PANEL*/
.panel{
    font-size: 18px;
    background-color: #ffffff;
    min-height: 600px;
    border-radius: 5px;
    padding: 38px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.option{
    text-align: center;
    background-color: #5a034e;
    cursor: pointer;
    width: 260px;
    height: 120px;
    color: #ffffff;
    box-sizing: border-box;
    margin: 10px;
    transition: opacity .5s ease;
    border-radius: 10px;
}

.option:hover{
    opacity: .7;
}

